name: docker

on:
  push:
    branches: ["master"]
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.23
    - name: Build the container
      run: make container
